body {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

h1, h2, p, ul, li, blockquote {
    max-width: 90%;
    font-size: calc(16px + 1vw); /* Responsive font size */
    color: white;
}

h1 {
    font-size: calc(20px + 2vw);
}

h2 {
    font-size: calc(18px + 1.5vw);
}

p, ul, li, blockquote {
    font-size: calc(14px + 1vw);
}

h1, h2 {
    font-size: max(30px, min(50px, calc(20px + 2vw)));
}

p, ul, li, blockquote {
    font-size: max(16px, min(50px, calc(14px + 1vw)));
}

.slide:nth-child(odd) {
    background-color: #333;
}

.slide:nth-child(even) {
    background-color: #555;
}
